<form class="box" [formGroup]="educationDetailsFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="legacy" class="input-field">
        <mat-label>Major</mat-label>
        <input matInput formControlName="major">
      </mat-form-field>
      <mat-form-field appearance="legacy" class="input-field">
          <mat-label>GPA</mat-label>
          <input matInput type="number" formControlName="gpa">
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input-field">
            <mat-label>University</mat-label>
            <mat-select formControlName="university">
                <mat-option *ngFor="let uni of universitiesList" [value]="uni">
                  {{uni}}
                </mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field appearance="legacy">
                  <mat-label>Degree</mat-label>
                  <select matNativeControl formControlName="degree" [value]="value">
                    <option></option>
                    <option value="Associate">Associate's degree</option>
                    <option value="Bachelor">Bachelor's degree</option>
                    <option value="Master">Master's degree</option>
                    <option value="Doctoral">Doctoral degree</option>
                  </select>
                </mat-form-field>      
                <mat-form-field apperance="legacy">
                  <mat-checkbox [(ngModel)]="isGraduated" formControlName="graduated" >Graduated</mat-checkbox>
                </mat-form-field>                 
              </form>