<div *ngFor="let upload of filesList">
<div *ngIf="currentUpload && currentUpload?.progress !== 100">
    <progress class="progress is-success" min=1 max=100 value="{{ currentUpload?.progress }}"></progress>
    Progress: {{upload?.name}} | {{upload?.progress}}% Complete
</div>
</div>
<div class="box">
    <mat-label>  Drop Files</mat-label>
    <div class="dropzone"
         appFileDrop
         (filesDropped)="handleDrop($event)"
         (filesHovered)="dropzoneState($event)"
         [ngClass]="{'active': dropzoneActive}">
         <i class="material-icons icon" *ngIf="filesList.length == 0">cloud_upload</i>
                <mat-list>
                        <h3 mat-subheader *ngIf="filesList.length !== 0">uploaded Files</h3>
                        <mat-list-item *ngFor="let file of filesList">
                          <h4 mat-line><mat-icon>attach_file</mat-icon> {{file.name}} <small> {{file.createdAt | date:'short'}} </small></h4>
                          <button mat-icon-button color="warn" (click)="deleteFile($event,file)">
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                </mat-list>
    </div>
</div>