<div class="box">
  <mat-label>Drop Files</mat-label>
</div>
<div class="dropzone" appFileDrop (filesDropped)="handleDrop($event)" (filesHovered)="dropzoneState($event)"
  [ngClass]="{'active': dropzoneActive}">
  <mat-list>
    <h3 mat-subheader *ngIf="uploadedFiles.length !== 0">uploaded Files</h3>
    <mat-list-item *ngFor="let file of uploadedFiles">
      <div class="file-path">
        <mat-icon>attach_file</mat-icon>
        <span class="file-name-link" color="primary">{{file.name}}</span> 
        <button mat-icon-button (click)="downloadFileByUrl($event,file.path)" class="mat-icon-button">
          <mat-icon>cloud_download</mat-icon>
        </button>
      <button mat-icon-button color="warn" (click)="deleteFileByUrl(file.path)">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    </mat-list-item>
  </mat-list>
  <i class="material-icons icon" *ngIf="filesList.length == 0 && uploadedFiles == 0 ">cloud_upload</i>
  <mat-list>
    <h3 mat-subheader *ngIf="filesList.length !== 0">new Files</h3>
    <mat-list-item *ngFor="let file of filesList">
      <div mat-line  class="file-path">
        <mat-icon>attach_file</mat-icon> 
        <span class="file-name-link" (click)="downloadFileByUrl($event,file.path)">
          {{file.file.name}}
        </span> <small> {{file.createdAt | date:'short'}} </small>
      
      <button mat-icon-button color="warn" (click)="deleteFile($event,file)">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    </mat-list-item>
  </mat-list>

</div>
<div class="progress-box" *ngFor="let upload of filesList">
  <div *ngIf="currentUpload && currentUpload?.progress !== 100">
    <mat-progress-bar *ngIf="!!upload?.progress" mode="determinate" value="{{ currentUpload?.progress }}">
    </mat-progress-bar>
    <mat-progress-bar *ngIf="!upload?.progress" mode="buffer"></mat-progress-bar>
    <span>{{upload?.file.name}}</span> <span *ngIf="!!upload?.progress">: {{upload?.progress}}%</span>
  </div>
</div>