.form-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 20px auto;
    align-content: center;
}

.box{
    align-content: center;
    display: flex;
    flex-direction: row;
    padding: 15px;
    right: 0;
    left: 0;
}

.box-outline {
    border: 1px solid #c8c8c8;
    width: auto;
    height: fit-content;
}

.input-field {
    margin-left: 10px;
    width: 100%;
}

.input-icon-inline {
    display: contents;
    margin-left: 25px;
    margin-right: 25px;
}

.material-icons {
    margin-top: 25px;
    padding: 2px;
    color: #720D5D;
}

.box-label {
    font-weight: normal;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.material-icons {
    margin-left: 10px;
}

app-upload-form {
    margin: 10px 20px 10px 20px;
    display: block;
}

.chip-list-box {
    margin: 20px;
}

.chip-list {
    display: contents;
    margin: 20px;
}

mat-icon{
    margin-bottom: 25px;
}

.icon {
    margin-top: 0;
    margin-left: 0;
}

.button-row button,
.button-row a {
    margin-top: 20px;
    margin-right: 8px;
}
