<div class="outer">
<app-submit-result (closedCard)="closeCard($event)" *ngIf="registerationSuccess"></app-submit-result>
<form [formGroup]="candidateForm" class="form-container" (ngSubmit)="onSubmit()" *ngIf="!registerationSuccess">
    <mat-label class="box-label">Basic Details</mat-label>
      <div class="box-outline">
    <div class="box">
      <div class="box-row-fields">
        <mat-form-field appearance="legacy" class="input-field">
            <mat-label>Candidate Name</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>
      </div>
      <div class="box-row-fields">
          <div class="input-icon-inline">
          <mat-form-field appearance="legacy" class="input-field">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email">
                  <mat-error class="error-message"
                  *ngIf="(candidateForm.get('email').dirty || candidateForm.get('email').touched)">
                  Enter a valid email
                </mat-error>
            </mat-form-field>
            <div class="input-icon-inline">
              <mat-form-field appearance="legacy" class="input-field">
                  <mat-label>Phone Number</mat-label>  
                  <input matInput type="number" formControlName="phoneNumber">
                  <mat-error class="error-message"
                  *ngIf="(candidateForm.get('phoneNumber').dirty || candidateForm.get('phoneNumber').touched)">
                  Enter a valid mobile number
                </mat-error>
                </mat-form-field>
              </div>
            </div>
        </div>
      </div>
        <div class="box-row-fields">
              <mat-form-field appearance="legacy">
                  <mat-label>Nationality</mat-label>
                  <select matNativeControl formControlName="nationality" [value]="value">
                    <option></option>
                    <option value="Jordanian">Jordanian</option>
                    <option value="Other">Other</option>
                  </select>
                </mat-form-field>  
              <mat-form-field appearance="legacy" class="input-field">
                  <mat-label>How did you find us?</mat-label>
                  <select matNativeControl formControlName="howdidyoufindus" [value]="value">
                      <option></option>
                      <option value="Facebook">Facebook</option>
                      <option value="LinkedIn">LinkedIn</option>
                      <option value="Job Fair">Job Fair</option>
                      <option value="Personal Reference">Personal Reference</option>
                      <option value="Other">Other</option>
                    </select>      
                </mat-form-field>
                <!-- <input matInput type="text" *ngIf="candidateForm.value.howdidyoufindus == 'Other'" placeholder="other ..." formControlName="socialOther" value=""> -->
        </div>
      </div>

      <mat-label class="box-label">Education</mat-label>
      <div class="box-outline">
          <mat-form-field appearance="legacy" class="input-field">
              <mat-label>Major</mat-label>
              <input matInput formControlName="major">
            </mat-form-field>
              <mat-form-field appearance="legacy" class="input-field">
                  <mat-label>University</mat-label>
                  <mat-select formControlName="university">
                      <mat-option *ngFor="let uni of universitiesList" [value]="uni">
                        {{uni}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Degree</mat-label>
                    <select matNativeControl formControlName="degree" [value]="value">
                      <option></option>
                      <option value="Associate">Associate's degree</option>
                      <option value="Bachelor">Bachelor's degree</option>
                      <option value="Master">Master's degree</option>
                      <option value="Doctoral">Phd degree</option>
                    </select>
                  </mat-form-field>
                <mat-form-field appearance="legacy" class="input-field">
                    <mat-label>GPA</mat-label>
                    <input matInput type="number" formControlName="gpA1">
                  </mat-form-field> 
      </div>


        <!-- <mat-label class="box-label">Education</mat-label> -->
        <!-- <button mat-stroked-button type="button" (click)="addRow()" class="educationButton">add more <mat-icon>add_circle_outline</mat-icon></button> -->
        <!-- <div class="box-outline"> -->
            <!-- <div formArrayName="educationDetails"
            *ngFor="let item of candidateForm.get('educationDetails').controls; let i = index;"
            >
            <div class="box-row-fields" [formGroupName]="i">
              <mat-form-field appearance="legacy" class="input-field">
                  <mat-label>Major</mat-label>
                  <input matInput formControlName="major">
                </mat-form-field>
                  <mat-form-field appearance="legacy" class="input-field">
                      <mat-label>University</mat-label>
                      <mat-select formControlName="university">
                          <mat-option *ngFor="let uni of universitiesList" [value]="uni">
                            {{uni}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Degree</mat-label>
                        <select matNativeControl formControlName="degree" [value]="value">
                          <option></option>
                          <option value="Associate">Associate's degree</option>
                          <option value="Bachelor">Bachelor's degree</option>
                          <option value="Master">Master's degree</option>
                          <option value="Doctoral">Doctoral degree</option>
                        </select>
                      </mat-form-field>
                    <mat-form-field appearance="legacy" class="input-field">
                        <mat-label>GPA</mat-label>
                        <input matInput type="number" formControlName="gpa">
                      </mat-form-field> 
                          <button mat-icon-button type="button" (click)="removeRow(i)"><mat-icon>delete_forever</mat-icon></button>
                </div> 
              </div> -->
              <!-- </div> -->
          
        <mat-label class="box-label">Experience</mat-label>
        <div class="box-outline">
            <div class="box-row-fields">
              
              <mat-form-field appearance="legacy" class="input-field">
                  <mat-label>Last Position</mat-label>
                  <input matInput formControlName="currentposition">
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Career Level</mat-label>
                    <select matNativeControl formControlName="careerLevel" [value]="value">
                      <option></option>
                      <option value="entry">Fresh</option>
                      <option value="junior">Junior</option>
                      <option value="middle">Mid-Senior</option>
                      <option value="senior">Senior</option>
                      <option value="senior">Other</option>
                    </select>
                  </mat-form-field>

                <mat-form-field appearance="legacy" class="input-field">
                    <mat-label>Experience Years</mat-label>
                    <input matInput formControlName="devexperience" type="number">
                  </mat-form-field>
                </div>
        
                <div class="box-row-fields">
                    <!-- <mat-form-field appearance="legacy" class="input-field">
                        <mat-label>Applying As</mat-label>
                        <input matInput formControlName="applyingAs" type="text">
                      </mat-form-field> -->
  
          
                    <mat-form-field appearance="legacy" class="input-field">
                        <mat-label>Expected Salary</mat-label>
                        <input matInput formControlName="expectedSalary" type="number">
                      </mat-form-field>

                    <mat-form-field appearance="legacy" class="input-field">
                        <mat-label>Expected Join Duration</mat-label>
                        <select matNativeControl formControlName="joinDate" [value]="value">
                            <option></option>  
                            <option value="0 days">0 days</option>
                            <option value="1-2 weeks">1-2 weeks</option>
                            <option value="3-4 weeks">3-4 weeks</option>
                            <option value="1 month">1 month</option>
                            <option value="over 2 months">over 2 months</option>
                          </select>
                      </mat-form-field>

                    <mat-form-field appearance="legacy" class="input-field"
                    [hideRequiredMarker]="candidateForm.value.hideRequired"
                    [floatLabel]="candidateForm.value.floatLabel">
                        <mat-label>English Skills</mat-label>
                        <select matNativeControl formControlName="englishSkills" [value]="value">
                            <option></option>
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Advanced">Advanced</option>
                          </select>
                      </mat-form-field>
                    </div>
                    <div class="chip-list-box">
                      <mat-form-field class="chip-list">
                        <mat-chip-list #chipList aria-label="technologies selection">
                          <mat-chip
                            *ngFor="let tech of technologies"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="remove(tech)">
                            {{tech}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input
                            placeholder="technologies you're familiar with..."
                            #fruitInput
                            [formControl]="technologiesCtrl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                          <mat-option *ngFor="let technology of filteredTechnologies | async" [value]="technology">
                            {{technology}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                          <app-upload-form (outputFilesList)="getFilesList($event)"></app-upload-form>
              </div>
        <div class="button-row">
          <button mat-stroked-button type="submit"> <i class='material-icons icon'>send</i> Submit</button>
          <button mat-stroked-button type="button" [disabled]="false" color="warn" (click)="cancel()"><i class='material-icons icon'>close</i> Cancel</button>
        </div>
  </form>

</div>