.form-container {
    position: absolute;
}

.material-icons {
    margin-top: 25px;
    padding: 2px;
    color: #720D5D;
}

.box-label {
    font-weight: normal;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.material-icons {
    margin-left: 10px;
}

app-upload-form {
    margin: 10px 20px 10px 20px;
    display: block;
}

.chip-list-box {
    margin: 20px;
}

.chip-list {
    display: contents;
    margin: 20px;
}

mat-icon{
    margin-bottom: 25px;
}

.icon {
    margin-top: 0;
    margin-left: 0;
}

.button-row button,
.button-row a {
    margin-top: 20px;
    margin-right: 8px;
}

mat-form-field {
    margin-left: 10px;
    margin-right: 10px;
}

.outer {
    margin: 20px;
}