.form-container {
    display: contents;
    flex-wrap: wrap;

}

.material-icons {
    margin-top: 25px;
    padding: 2px;
    color: inherit;
    margin-left: 10px;
}

.box-label {
    font-weight: normal;
    font-size: 22px;
}

app-upload-form {
    margin: 10px 20px 10px 20px;
    display: block;
}

.chip-list-box {
    margin: 20px;
}

.chip-list {
    display: contents;
    margin: 20px;
}

mat-icon {
    margin-bottom: 25px;
}

.icon {
    margin-top: 0;
    margin-left: 0;
}

.button-row button,
.button-row a {
    margin-top: 20px;
    margin-right: 8px;
}

mat-form-field {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.outer {
    margin: 20px;
}

.box-outline {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

.educationButton {
    position: relative;
    float: right;
    margin-top: 0;
    border-radius: 13px;
}

.educationButton mat-icon {
    margin: 0;
}
