<mat-drawer-container class='container' autosize>
        <mat-drawer #drawer class='sidenav' mode='side'>
          <p class='app-greeting'>{{greeting}}</p>
          <p><i class='material-icons'>person</i> <span class='user-name'>{{userName}}</span></p>    
          <div class='app-date'>
            <span class='app-weekday'>{{weekday}}</span>
            <span class='app-day'> {{day}}</span>
            <span class='app-month'> {{month}}</span>
          </div>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
              <button class='list-items' mat-button>
              <mat-icon class='material-icons' matBadge="15" matBadgeColor="accent" matBadgePosition="before">all_inbox</mat-icon>
              <span> Inbox</span>
            </button>
          </mat-list-item> 
            <mat-list-item>
              <button class='list-items' mat-button>
                <i class='material-icons'>people</i>
                <span> Applicants</span>
              </button>
            </mat-list-item>
            <mat-list-item>
              <button class='list-items' mat-button>
                <i class='material-icons'>settings</i>
                <span> Settings</span>
              </button>
            </mat-list-item>
            </mat-list>
            
        </mat-drawer>
      <mat-toolbar class="app-toolbar">                
          <button type='button' mat-button (click)='drawer.toggle()'>
            <i class='material-icons' (click)='changeIcon($event)'>{{menuIcon}}</i>
        </button>
      </mat-toolbar>
        <div class='sidenav-content'>
            <div class="menu-icon">
                

                
              <mat-list *ngIf="drawerClosed">
                <mat-list-item>
                  <button class='list-items' mat-button>
                  <mat-icon class='material-icons side-icons' matBadge="15" matBadgeColor="accent">all_inbox</mat-icon>
                </button>
              </mat-list-item> 
                <mat-list-item>
                  <button class='list-items' mat-button>
                    <i class='material-icons side-icons'>people</i>
                  </button>
                </mat-list-item>
                <mat-list-item>
                  <button class='list-items' mat-button>
                    <i class='material-icons side-icons'>settings</i>
                  </button>
                </mat-list-item>
                </mat-list>
             </div>
                 <router-outlet></router-outlet>
                    </div>
      </mat-drawer-container>
