.container {
    background-color: #EEEEEE;
    position: absolute;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
.app-toolbar {
  background: #4F0A3A;
  color: white;
  overflow: hidden;
  
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.07);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.07);
  }

  mat-toolbar {
    --default-height: 50px;
    top: 0;
    position: sticky;
    height: var(--default-height);
    z-index: 1;
  }

.sidenav-content {
  height: auto 100%;
  -webkit-box-align: start;
  align-items: flex-start;
  padding: 10px;
  margin: 20px;
  }
  
.sidenav {
    display: flexbox;
    padding: 10px;
    width: 15%;
    background: rgb(97, 14, 72);
    color: #ffffff;
    -webkit-box-shadow: 15px 15px 10px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 15px 15px 10px 0px rgba(0,0,0,0.11);
    box-shadow: 15px 15px 10px 0px rgba(0,0,0,0.11);
    margin-right: 20px;
  }

.sidenav mat-list mat-list-item{
    color: #ffffff;
  }
.sidenav mat-list mat-divider{
    padding-bottom: 20px;
    border-top-color: #ffffff;
  }

.material-icons {
    margin-right: 5px;
  }

.app-greeting {
    margin-left: 31px;
    font-weight: bolder;
    font-size: 20px; 
  }

.user-name {
    font-weight: bold;
  }

p {
    display: flex;
  }

 .app-date {
    text-align: center;
  }
 .app-day {
    margin: 5px;
    font-weight: bolder;
    font-size: 25px; 
  }

 .app-weekday {
    font-weight: normal;
    font-size: 13px; 
  }

 .app-month {
    font-weight: bold;
    font-size: 16px; 
  }

.list-items {
  display: contents;
  
}

.list-items button:focus {
  background: rgb(255, 0, 204);
}

.side-icons {
  color: #5D1049;
}

.menu-icon {
  width: 5%;
  flex-direction: column;
  float: left;
  margin-right: 20px;
}


