.container {
  border-radius: 13px;
  background-color: #DBDBDB;
  margin-bottom: 10px;
  padding: 10px;
  align-content: center; 
  display: flex;
  justify-content: flex-start;
  align-content: baseline;
  flex-wrap: wrap;
}

mat-button-toggle-group {
  border: none;
  align-content: stretch;
  display: flex;
  align-items: center;
  flex-grow: 2;
} 

button {
  border-radius: 13px;
}

mat-button-toggle {
  border-radius: 13px;
  margin-left: 15px;
  display: flex;
  flex-grow: 1;
}

mat-button-toggle:hover {
  background-color: #FD9726;
}

mat-button-toggle:focus {
  background-color: #FD9726;
}

.export-button {
  background-color: #FD9726;
  margin-right: 20px;
}

.header {
  height: 70px;
}

.headline {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  position: absolute;
}

.add-button {
  float: right;
  background-color: #AB188D;
  color: rgb(247, 247, 247);
  margin-right: 0;
}

.advanced-search-container {
  height: 150px;
}

kendo-grid  {
  width: 100%;
  display: block;
  position: relative;
}

.material-icons {
  font-size: 18px;
}

kendo-grid-column {
  display: flex;
  width: 1000px;
  max-width: 1000px;
  flex-grow: 0;
  flex-shrink: 0;
} 

.k-button {
  padding: 0;
}

.small-label {
  bottom: 10px;
  font-size: x-small;
}

