.container {
  border-radius: 13px;
  width: 100%;
  height: 80px;
  background-color: #DBDBDB;
  margin-bottom: 10px;
  align-content: center;
}

button {
  margin: 20px;
  border-radius: 13px;
}

mat-button-toggle {
  margin: 20px 10px 20px 10px;
  border-radius: 13px;
  width: 110px;
}

mat-button-toggle:hover {
  background-color: #FD9726;
}

mat-button-toggle:active {
  background-color: #FD9726;
}

mat-button-toggle-group {
  border: none;
}

.export-button {
  background-color: #FD9726
}

.advanced-search-container {
  height: 150px;
}
