.sidenav-content {
  padding: 10px;
  text-align: center;
  display: grid;
}

.searchContainer {
    margin-bottom: 20px;
    display: flex;
    padding: 19px;
    background: #DBDBDB;
    border-radius: 8px;
    align-items: center;
  }

 
  .container {
    display: flex;
    flex-direction: row;
    }

  form {
    width: 100%;
  }
    
  @media only screen and (max-width: 600px) {
  .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  }
}

  .scrollable-box {
    margin: 0 25px 25px 0;
    width: 100%;
  }
  
  .list {
    border: solid 1px #ccc;
    height: 350px;
    border-radius: 13px;
    overflow: overlay;
    display: list-item;
    scroll-behavior: smooth;
    scroll-padding: 3px;
    scroll-margin-right: 5px;
    margin-top: 10px;
  }
  
  .box {
    padding: 20px 10px;
    border-bottom: solid 0.5px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
    background: white;
    font-size: 14px;
    
  }
  
  .title {
      text-align: center;
      margin: 20px 20px 0 20px;
      font-weight: normal;

  }
  .sub-title {
      font-weight: bold;
  }

  .empty-box {
    padding: 20px 10px;
    border-bottom: solid 0.5px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    cursor: not-allowed;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  .input-field {
    width: 100%;
  }

  .inbox-list {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    /* border: 1px solid #757575; */
    border-radius: 13px;
    background-color: #DBDBDB;
    flex-direction: column;
  }

  .list-item {
      display: flex;
      justify-content: space-between;
      align-content: center;
      width: 98%;
      flex-direction: column;
      padding: 10px;
  }

  .border {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 13px;

  }

  mat-label {
    display: flex;
    width: 100%;
  }

  .name-tag {
    display: flex;
    justify-content: flex-start;
  }
  
  .date-tag {
    display: flex;
    justify-content: flex-end;
  }