<div class="sidenav-content">
<div class="searchContainer">
  search box
</div>

<div class="container">
    <div class="scrollable-box">
  <mat-label class="title">Inbox</mat-label>
  <div
    cdkDropList
    #inboxList="cdkDropList"
    [cdkDropListData]="inboxedCandidatesData"
    [cdkDropListConnectedTo]="[updatedList]"
    class="list"
    (cdkDropListDropped)="drop($event)"
    *ngIf="inboxedCandidatesData.length > 0">
    <div
      class="box"
      *ngFor="let item of inboxedCandidatesData"
      (click)="applicantDetails(item)"
      cdkDrag>
      <span>
        <span class="sub-title">{{ item.name }}</span>
        <span class="sub-title" *ngIf="!!item.title"
          ><span> submitted as </span>{{ item.title }}</span>
        <span *ngIf="!!item.applicationDate">
          <small> {{ item.applicationDate }}</small></span>
      </span>
    </div>
  </div>
  <div class="empty-box" *ngIf="inboxedCandidatesData.length == 0">
  <mat-label>
      <small>
        <mat-icon class="material-icons">inbox</mat-icon>
        Empty Inbox</small
      ></mat-label>
    </div>
    </div>
    
  <div class="scrollable-box">
<mat-label class="title">Updated Applicants</mat-label>
  <div
    cdkDropList
    #updatedList="cdkDropList"
    [cdkDropListData]="updatedIndex"
    [cdkDropListConnectedTo]="[inboxList]"
    class="list"
    (cdkDropListDropped)="drop($event)">
    <div
      class="box"
      *ngFor="let item of updatedIndex"
      cdkDrag
      (click)="applicantDetails(item)">
      <span>
        <span class="sub-title">{{ item.name }}</span>
        <span *ngIf="!!item.status">
          <span> changed to </span>
          <span class="sub-title" *ngIf="!!item.status">{{
            item.status
          }}</span>
          </span>
        status</span>
    </div>
  </div>
</div>
  
</div>
</div>