.sidenav-content {
  padding: 10px;
  text-align: center;
  display: grid;
}

.searchContainer {
    margin: 0 25px 15px 0;
    display: flex;
    padding: 19px;
    background: #DBDBDB;
    border-radius: 8px;
  }

.container {
    height: 400px;
    margin: 0 25px 25px 0;
    display: inline-flex;
    vertical-align: top;
    padding: 10px;
    background: #DBDBDB;
    border-radius: 13px;
  }
  
  .scrollable-box {
    margin: 0 25px 25px 0;
    width: 100%;
  }
  
  .list {
    border: solid 1px #ccc;
    height: 350px;
    border-radius: 13px;
    overflow: overlay;
    display: list-item;
    scroll-behavior: smooth;
    scroll-padding: 3px;
    scroll-margin-right: 5px;
    margin-top: 10px;
  }
  
  .box {
    padding: 20px 10px;
    border-bottom: solid 0.5px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .box:last-child {
    border: none;
  }
  
  .list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .title {
      text-align: center;
      margin: 20px 0 20px 0;
      font-weight: normal;

  }
  .sub-title {
      font-weight: bold;
  }

  .empty-box {
    padding: 20px 10px;
    border-bottom: solid 0.5px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    cursor: not-allowed;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
