.form-container {
    position: inherit;
    margin: 10px;
}

.mat-list-item-content {
    margin-left: 0;
}

.box {
    display: flex;
    padding: 3px;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 0;
    flex-shrink: 1;
}

.box-label {
    font-weight: normal;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.material-icons {
    margin-left: 10px;
    align-items: baseline;
    padding: 2px;
    color: rgb(114,36,130);
    font-size: small;
    height: 15px;
    width: 15px;
}

mat-form-field {
    margin-left: 10px;
    margin-right: 10px;
}

.form-header {
    display: flex;
}

.name-field {
    align-content: flex-start;
    margin-left: 40px;
}

.name-label {
    font-size: 22px;
    color: #771819;
    margin-left: -20px;
}

.contact-field {
    display: flex;
    align-self: baseline;
    align-items: center;
    margin-top: 15px;
    flex-flow: row;
    flex-grow: 1;

}

.button-row button,
.button-row a {
    margin-top: 20px;
    margin-right: 8px;
}

.input-field {
    width: 45%;
}

.arrow-next {
    height: 15px;
    width: 15px;
    font-size: 15px;
    margin: 3px;
}

.date-added {
    margin-left: -20px;
    margin-top: -15px;
}

.small-field {
    width: 10%;
}

mat-list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.status-updated {
    background-color: #981e21;
    color: white;
}

.status-tree {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.status-tree mat-icon {
    margin: 0;
}

.notes-field {
    width: 100%;
}

.name-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.small-text {
    align-items: center;
    font-size: xx-small;
}

.chip-content {
    flex-direction: column;
    height: auto;
    align-items: center;
}

mat-chip-list {
    align-content: center;
}