<form
  *ngIf="candidate && candidateStatusHistory"
  [formGroup]="candidateForm"
  class="form-container"
>
  <div class="form-header">
    

    <div class="contact-field top-box">
      
      <div class="input-icon-inline">
        <mat-form-field appearance="legacy" class="input-field col-3">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>

      <div class="input-icon-inline ">
        <mat-form-field appearance="legacy" class="input-field col-3">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error
            class="error-message"
            *ngIf="
              candidateForm.get('email').dirty ||
              candidateForm.get('email').touched
            "
          >
            Enter a valid email
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-icon-inline">
        <mat-form-field appearance="legacy" class="input-field col-3">
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" type="tel" />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </div>
    </div>
    
  </div>
  <div class="date-added" *ngIf="!!candidate.applicationDate">
      <small>
        created: 
      {{ candidate.applicationDate }}
      </small>
    </div>
    

  <div class="form-container">
    <mat-label class="box-label">Process</mat-label>
    <div class="box-outline">
      <app-status-component [$candidate]="candidate"
                            [$candidateStatusHistory]="candidateStatusHistory"
                            ($status)="pickedStatus($event)"
                            ></app-status-component>
    </div>
    <mat-label class="box-label">After Interview Details</mat-label>
    <div class="box-outline">
      <div>
        <mat-form-field appearance="legacy" class="input-field">
          <mat-label>Exam Score</mat-label>
          <input
            matInput
            formControlName="examScore"
            type="number"
            placeholder="out of 10"
          />
        </mat-form-field>
        <span *ngIf="!!candidate.examScore && candidate.examScore >= 6"
          >/10 passed</span
        >
        <span *ngIf="!!candidate.examScore && 6 > candidate.examScore"
          >/10 failed</span
        >
      </div>
      <div class="input-field">
        <mat-form-field class="input-full-width">
          <textarea
            matInput
            placeholder="Notes"
            placeholder="Notes"
            formControlName="notes"
            [mat-autosize]=10
          ></textarea>
        </mat-form-field>
      </div>

    </div>
    <mat-label class="box-label">Basic Details</mat-label>
    <div class="box-outline">
      <div class="box">
        <mat-form-field appearance="legacy" class="input-field">
          <mat-label>Nationality</mat-label>
          <input matInput formControlName="nationality" />
        </mat-form-field>
        <mat-form-field appearance="legacy" class="input-field">
          <mat-label>How did you find us?</mat-label>
          <input matInput formControlName="howdidyoufindus" />
        </mat-form-field>
      </div>
    </div>
    <mat-label class="box-label">Education</mat-label>
    <div class="box-outline">
      <div class="box">
        <mat-form-field appearance="legacy" class="input-field">
          <mat-label>Major</mat-label>
          <input matInput formControlName="major" />
        </mat-form-field>
        <mat-form-field appearance="legacy" class="input-field">
          <mat-label>GPA</mat-label>
          <input matInput formControlName="gpA1" />
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input-field">
          <mat-label>University</mat-label>
          <input matInput formControlName="university" />
        </mat-form-field>
        <mat-form-field appearance="legacy" class="input-field">
          <mat-label>Degree</mat-label>
          <input matInput formControlName="degree" />
        </mat-form-field>
        <mat-form-field
          appearance="legacy"
          class="input-field"
          *ngIf="!!candidate.otherUniversity"
        >
          <mat-label>Other University</mat-label>
          <input matInput formControlName="otherUniversity" />
        </mat-form-field>
      </div>
    </div>
    <mat-label class="box-label">Experience</mat-label>
    <div class="box-outline">
      <div class="box">
        <mat-form-field appearance="legacy" class="input-field">
          <mat-label>Last Position</mat-label>
          <input matInput formControlName="currentposition" />
        </mat-form-field>
        <mat-form-field appearance="legacy" class="input-field">
          <mat-label>Career Level</mat-label>
          <input matInput formControlName="careerLevel" />
        </mat-form-field>
        <mat-form-field appearance="legacy" class="input-field">
          <mat-label>Experience Years</mat-label>
          <input matInput formControlName="devexperience" />
        </mat-form-field>
        <mat-form-field appearance="legacy" class="input-field">
          <mat-label>Applying As</mat-label>
          <input matInput formControlName="title" />
        </mat-form-field>
        <mat-form-field appearance="legacy" class="input-field">
          <mat-label>Expected Salary</mat-label>
          <input matInput formControlName="expectedSalary" />
        </mat-form-field>
        <mat-form-field appearance="legacy" class="input-field">
          <mat-label>Expected Join Duration</mat-label>
          <input matInput formControlName="joinDate" />
        </mat-form-field>
        <mat-form-field
          appearance="legacy"
          class="input-field"
          [hideRequiredMarker]="candidateForm.value.hideRequired"
          [floatLabel]="candidateForm.value.floatLabel"
        >
          <mat-label>English Skills</mat-label>
          <input matInput formControlName="englishSkills" />
        </mat-form-field>

      </div>
      <app-upload-form
        [candidateId]="candidate.cvAttachment"
      ></app-upload-form>
    </div>
    <div class="button-row">
      <button mat-stroked-button type="button" (click)="onSubmit()">
        Save Changes
      </button>
      <button
        mat-stroked-button
        type="cancel"
        [disabled]="false"
        color="warn"
        [routerLink]="['/dashboard']"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
